/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
h1 {font-size: 4rem;}

h1,h2,h3,h4 {margin: 20px 0}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}

/* ---------- SUB NAVIGATION ----------*/

#subNav {
	background-color: #333;
	font-family: Avenir;
}
#subNav nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#subNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#subNav nav p {
	color: white;
	font-size: 1.5rem;
}
#icons {
	color: white;
	display: flex;
	flex-direction: row;
}
#icons i {
	font-size: 2rem;
	padding: 0 1rem 0 1rem;
}

#subNav li {
	float: left;
}

#subNav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 14px;
	text-decoration: none;
}

#subNav li a:hover {
	background-color: #111;
}

/* ---------- MAIN NAVIGATION ----------*/
#logo {
	height: 75px;
	width: 75px;
	opacity: 0;
}
#mainNavWrapper {
	background-color: #FAF6F0;

}
#mainNav {
	font-family: Avenir;
	display: flex;
	flex-direction: row;
	max-width: 1200px;
	margin: 0 auto;
}
#mainNav nav {
	max-width: 1200px;
	padding: .5rem 0 .5rem 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#mainNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.logoClass {
	margin: 2rem;
}
#mainNav li {
	float: left;
	margin: 2rem;
}

#mainNav li a {
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	opacity: 1;
	transition: .5s ease;
}


/* ---- MEGA MENU ----*/


.dropdown {
	float: left;
	overflow: hidden;
	height: 100%;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	margin: 0;
}
.dropbtn:hover {
	cursor: pointer;
}
#mainNav a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(226, 226, 226, 0.53);
	color: black;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	left: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	z-index: 1;
	overflow: scroll;
	height: 500px;
	margin-bottom: 3rem;
}
.dropdown-content .header {
	padding: 16px;
	font-size: 3rem;
	margin: 0 auto;
	max-width: 1200px;
}
.dropdown-content .header h1 {
	font-size: 3rem;
}
.dropdown-content .header h5 {
	font-size: 2rem;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.galleryContainer {
	margin: 0 auto;
	max-width: 1175px;
	padding: 16px;
}
.gallery-headers {
	flex-wrap: wrap;
	margin: -1rem -1rem;
	display: grid;
	font-weight: bold;
	font-size: 16px;
	grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
	grid-gap: 2rem;
}
.gallery-nav {
	flex-wrap: wrap;
	margin: -1rem -1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
	grid-gap: 2rem;
}
.new-release-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
	grid-gap: 2rem;
	padding: 25px;
	background-color: rgba(226, 226, 226, 0.65);
}
#lastBtn {
	margin-bottom: 3rem;
}


/* ---------- MAIN BODY ----------*/
#loadingDiv {
	display: flex;
	justify-content: center;
}
#mainContent {
	animation: fadein 4s;
}
#loadingDiv h1 {
	font-family: Avenir, sans-serif;
	padding-right: 1rem;
}
.load-cir {
	font-size: 10px;
	padding: 3.5rem 5px 0 5px;
	opacity: 1;
}
#imageContainer {
	height: 100%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	position: relative;
}
#browseBtn {
	margin-top: 1.5rem;
	padding: 15px;
	background-color: orangered;
	border: none;
	border-radius: 3px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}
/*#browseBtn:hover {*/
/*	margin-top: 1.5rem;*/
/*	padding: 15px;*/
/*	background-color: white;*/
/*	border: 2px solid orangered;*/
/*	border-radius: 3px;*/
/*	color: orangered;*/
/*	font-size: 13px;*/
/*	font-weight: bold;*/
/*	cursor: pointer;*/
/*}*/
#heroImage {
	opacity: .9;
}
.image-text-container {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	text-align: center;
}

.image-overlay{
	position: relative;
	display: block;
}
.image-overlay-text {
	position: absolute;
	top: 15%;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 250px;
	text-align: center;
	background-color: #333;
	transition: opacity 0.6s;
	vertical-align:middle;
	margin: 0 auto;
	color: white;
	border: 5px solid black;
}
.image-overlay-text span {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Avenir;
	width: 70%;
	margin: 0 auto;
}
.image-overlay-text h1{
	color: white;
	margin: 11% 0 0 0;
	font-size: 5rem;
	font-family: "Montserrat",Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	font-size: 2rem;
}
.center-aligned {
	display: flex;
	align-items: center;
	justify-content: center;
}
#mainContent {
	margin-top: 5rem;
}
#mainContent h1 {
	font-family: 'Montserrat', sans-serif;
}
#mainContent h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 3rem 0 3rem 0;
	font-variant: small-caps;
	font-size: 3rem;
}
#mainContent h1 i {
	font-size: 3.5rem;
	margin-right: 2rem;
	color: red;
	font-weight: bold;
}
.gallery {
	flex-wrap: wrap;
	margin: -1rem -1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-gap: 2rem;
}
.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
	opacity: 1;
}
.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
.gallery-image:hover {
	transform: scale(1.15);
	cursor: pointer;
}
.gallery,
.gallery-item {
	margin: 0;
}
.gallery-btn-position {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
}
.gallery-btn {
	padding: 15px;
	background-color: orangered;
	border: none;
	border-radius: 3px;
	color: white;
	font-size: 13px;
	font-weight: bold;
	transition: transform 400ms ease-out;
}
.gallery-btn:hover {
	transform: scale(1.07);
	cursor: pointer;
}
.gallery-btn > i {
	margin-left: .5rem;
	transition: transform .5s ease-in-out;
}
.gallery-btn:hover > i {
	transform: rotate(180deg);
}

/* ---------- FOOTER ----------*/

#footerWrapper {
	font-family: Avenir;
	background-color: #FAF6F0;
	margin-top: 5rem;
}
#footer {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 2rem;
	max-width: 1200px;
}
@media screen and (max-width: 500px) {
	#footer {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding-top: 2rem;
		max-width: 500px;
	}
}
#footer h2 {
	font-size: 2rem;
	font-weight: bold;
}

#footer ul li {
	height: 50px;
}

#footer ul li a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: lighter;
}
.column-1 {
	display: flex;
	flex-direction: row;
}
.column-1 h2 {
	padding-bottom: 2rem;
}
.column-1 div {
	width: 250px;
}
.search-container {
	text-align: right;
	float: right;
}
.search-container form {
	width: 100%;
	padding-right: 0;
}
input[type=email] {
	padding: 15px;
	font-size: 17px;
	border: none;
	border-radius: 3px 0 0 3px;
}

button[type=submit] {
	float: right;
	padding: 15px;
	font-size: 17px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	background-color: orangered;
	color: white;
	border-radius: 0 3px 3px 0;
}
#facebookIcon, #instaIcon, #pinterestIcon, #twitterIcon, #youTubeIcon {
	margin-top: 1rem;
	font-size: 4rem;
	padding: 5px;
	color: black;
	transition: 0.5s ease;
	cursor: pointer;
}

#facebookIcon:hover {
	color: #3b5998;
	transition: 0.5s ease;
	cursor: pointer;
}

#instaIcon:hover {
	color: #E1306C;
	transition: 0.5s ease;
	cursor: pointer;
}

#pinterestIcon:hover {
	color: #c8232c;
	transition: 0.5s ease;
	cursor: pointer;
}

#twitterIcon:hover {
	color: #00acee;
	transition: 0.5s ease;
	cursor: pointer;
}

#youTubeIcon:hover {
	color: #FF0000;
	transition: 0.5s ease;
	cursor: pointer;
}

/* ---------- MISC ----------*/

.fade-in {
	animation: fadein .35s;
}
.fade-out {
	animation-name: fadeout;
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fadeout {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}

@media screen and (max-width: 500px) {
	#footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 2rem;
		max-width: 500px;
	}
	#heroImage {
		width: 100%;
		height: 300px;
	}
	.image-overlay-text {
		width: 300px;
		height: 200px;
	}
	.image-overlay-text h1{
		font-size: 4rem;
	}
	#mainContent, #footer {
		padding: 0 7px 0 7px
	}
	#browseBtn {
		margin-top: 1rem;
	}
	.image-overlay-text span {
		width: 90%;
		font-size: 16px;
	}
	#subNav nav {
		display: flex;
		flex-direction: column;
	}
	#subNav nav ul {
		margin-bottom: 2rem;
	}
	#subNav nav p {
		display: none;
	}
	#icons {
		margin-bottom: 2rem;
	}
	.logoClass {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin: 2rem 0 0 0;
	}
	#mainNav {
		display: flex;
		flex-direction: column;
	}
	#mainNav nav {
		justify-content: center;
	}
	#mainNav nav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.dropdown-content {
		width: 100%;
		height: auto;
		opacity: 0;
	}
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	}
	.gallery-headers {
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	}
	.gallery-nav {
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	}
	.search-container {
		text-align: left;
		float: left;
	}
}


